COINBASE_API_KEY=replace_me
# CDP format: either put full PEM in COINBASE_API_SECRET or set COINBASE_API_SECRET_FILE
COINBASE_API_SECRET=replace_me
COINBASE_API_SECRET_FILE=
COINBASE_API_PASSPHRASE=replace_me_if_required
TRADER_EXECUTION_MODE=paper
BASE_RPC_URL=https://mainnet.base.org
TRADING_WALLET_ADDRESS=0xYourWalletAddress
TRADING_WALLET_KEY=
